@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav ">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a style="color: #f8f9fa" href="javascript:document.getElementById('logoutForm').submit()"> ВЫЙТИ</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <div class="crt-btn">
           
            @Html.ActionLink("ВОЙТИ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
</ul>
}
